all:
  hosts:
%{ for index, ip in nodes ~}
    rancher-mgmt-${index + 1}:
      ansible_host: ${ip}
%{ endfor ~}
  children:
    masters:
      hosts:
        rancher-mgmt-1:
    workers:
      hosts:
        rancher-mgmt-2:
        rancher-mgmt-3:
        rancher-mgmt-4:
        rancher-mgmt-5:
  vars:
    ansible_user: ${user}
